{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    Edit Profile
{% endblock %}

{% block content %}

    <div class="container mt-4">
        <div class="row">
            <div class="col">
                <h3>{% blocktrans %}Profil ma'lumotlarini o'zgartirish{% endblocktrans %}</h3>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">
                        {% blocktrans %}Saqlash{% endblocktrans %}
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}