.auth-form {
    width: 350px;
    margin: 0 auto;
}

.custom-radio {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    position: relative;
}

.custom-radio > * {
    position: absolute;
    top: 0;
    left: 0;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
}

/*.bi-box-arrow-left, .bi-person-fill-gear, .bi-person-plus-fill, .bi-person-plus-fill{*/
.bi{
    font-size: 25px;
}

.variant-create-field-wrap{

}